h1 {
  font-weight: 900;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
h2 {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

:root {
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 140%;
}
